@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700');
@import 'helpers/variables';

body {
  background-color: $white;
  font-size: $base-font-size;
}

h1{
  font-size: 440%;
  color: $white;
  font-family: $archivo;
  text-transform: uppercase;
}

h2{
  font-family: $archivo;
  font-weight: bold;
  font-size: 200%;
  color: $dark-green;
}

h3{
  color: $white;
  font-size: 160%;
  font-family: $archivo;
  padding-top: $global-padding - 6;
  margin-left: $global-margin;
}

.header{
  background-color: $green;
  height: 180px;
  .header-text{
    padding-top: $global-padding * 1.75;
  }
  border-bottom: 1px solid $white;
  .no-margin{
    margin-left: $global-margin;
    padding:0;
  }
}

.intro{
  background-color: $dark-green;
  padding-top: $global-padding * 4;
  padding-bottom: $global-padding * 4;
  color: $white;
  h2{
    color: $white;
    margin-bottom: $global-margin;
    margin-top:0;
  }
  .less-margin{
    margin-left: $global-margin * 1.5;
  }
  a{
    font-weight:bold;
    color: $yellow;
  }
}

.content{
  padding-top: $global-padding * 4;
  margin-bottom: $global-margin * 8;
  button{
    background-color: $teal;
    color: $white;
    font-size: 110%;
    margin-top: $global-margin * 0.5;
    margin-bottom: $global-margin * 2;
    &:hover, &:active, &:visited, &:focus{
      color: $white;
    }
    &:hover{
      background-color: darken($teal, 5);
    }
    &:active{
      background-color: darken($teal, 10);
    }
  }
  .cta{
    padding-top: $global-padding * 2;
    padding-bottom: $global-padding * 2;
  }
  .image-div{
    height: 280px;
    overflow: hidden;
  }
}

.footer{
  background-color: $light-gray;
  font-size: 70%;
  padding: $global-padding * 4;
  a{
    font-weight: bold;
    text-decoration: none;
    color: $black;
    &:hover{
      color: $green;
      font-weight: bold;
    }
    &:visited, &:active, &:focus{
      color: $black;
      font-weight: bold;
    }
  }
}
