@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700');
@import 'helpers/variables';

body {
  background-color: $white;
}

.header{
  background-color: $green;
  height: 180px;
}

.header-text{
  padding-top: $global-padding * 1.75;
}

h1{
  font-size: 80px;
  font-family: $archivo;
  color: $white;
  text-transform: uppercase;
}

h3{
  color: $white;
  font-size: 30px;
  font-family: $archivo;
  padding-top: $global-padding - 6;
  margin-left: $global-margin;
}
