@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700');
@import 'helpers/variables';

body {
  background-color: $white;
  font-size: $base-font-size;
}

h1{
  font-size: 440%;
  font-family: $archivo;
  color: $white;
  text-transform: uppercase;
}

h3{
  color: $white;
  font-size: 160%;
  font-family: $archivo;
  padding-top: $global-padding - 6;
  margin-left: $global-margin;
}

.header{
  background-color: $green;
  height: 180px;
  .header-text{
    padding-top: $global-padding * 1.75;
  }
}

.intro{
  background-color: $dark-green;
  padding-top: $global-padding * 4;
  padding-bottom: $global-padding * 4;
  color: $white;
  h2{
    font-size: 200%;
    font-family: $archivo;
    font-weight: bold;
    margin: 0 0 20px 0 ;
  }
  img{
    max-height: 560px;
  }
  .less-margin{
    margin: 0 0 0 30px;
    padding-right: $global-padding * 4;
  }
}
