// colors

$white: #fff;
$green: #539a43;
$dark-green: adjust-hue(darken($green, 20), 40);

// typography
$archivo: 'Archivo Narrow', sans-serif;

// spacing
$global-margin: 20px;
$global-padding: 20px;
