// colors

$white: #fff;
$black: #000;
$green: #539a43;
$dark-green: adjust-hue(darken($green, 25), 40);
$teal: #07a6aa;
$light-gray: lighten($black, 85);

// typography
$archivo: 'Archivo Narrow', sans-serif;
$base-font-size: 18px;

// spacing
$global-margin: 20px;
$global-padding: 20px;
